@font-face {
  font-family: "OpenSans-Regular";
  src: url('../fonts/OpenSans-Regular.woff'), url('../fonts/OpenSans-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url('../fonts/OpenSans-Bold.woff'), url('../fonts/OpenSans-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BadScript-Regular";
  src: url('../fonts/BadScript-Regular.woff'), url('../fonts/BadScript-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "OpenSans-Regular",sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #FFF1F8;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */

.header {
  position: relative;
  padding-top: 27px;
  padding-bottom: 28px;
  box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
  background-color: #ffffff;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn-wrapper {
  display: flex;
}

.header__btn-wrapper--left {
  gap: 30px;
}

.header__btn-wrapper--right {
  gap: 20px;
}

.header__change {
  min-width: 300px;
  padding: 20px;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
  background-color: #C300C7;
  border: none;
  border-radius: 30px;
}

.header__gender {
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border: 1px solid transparent;
}

.header__gender--male {
  background: url('../img/men.svg') center center no-repeat;
  background-size: contain;
}

.header__gender--female {
  background: url('../img/women.svg') center center no-repeat;
  background-size: contain;
}

.header__gender--active {
  border: 1px solid #C300C7;
  border-radius: 10px;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.04);
}

/* main */

.card__container {
  min-height: calc(100vh - 220px);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__wrapper {
  position: relative;
  max-width: 840px;
  font-size: 3px;
}

.card__wrapper--female {
  box-shadow: 0 0 50px rgba(96, 4, 50, 0.23);
}

.card__image {
  min-height: 370px;
}

.card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__text p {
  margin: 0;
  font-size: max(3em, min(calc(100vw * 3 / (840 /3))), 6em);
  font-family: "BadScript-Regular", sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8;
  color: #000000;
}

/* footer */

.footer__container {
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__policies {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__policies p {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

.footer__social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

@media (max-width: 880px) {
  .header {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .header__container {
    gap: 30px;
  }

  .header__btn-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .header__change {
    padding: 14px;
    font-size: 15px;
  }

  .header__gender {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 480px) {
  .header__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .header__btn-wrapper--right {
    flex-direction: row;
  }

  .header__change {
    min-width: 250px;
    padding: 10px;
    font-size: 14px;
  }

  .header__gender {
    width: 40px;
    height: 40px;
  }

  .card__text p {
    width: 280px;
    line-height: 1.6;
    text-align: center; 
  }

  .footer__container {
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 16px;
  }

  .footer__policies {
    gap: 4px;
    text-align: center;
  }

  .footer__policies p {
    font-size: 12px;
  }
}

